<div class="container-fluid">
    <div class="card bg-info">
      <div class="card-header">customers</div>
      <div class="container-fluid" [@estadoFiltro]="stateFiltro">
        <form>
          <div class="d-flex">
            <input
              type="text"
              class="form-control me-2"
              placeholder="ID Cliente"
              #fIdCustomer
              (keyup)="
                onFiltrarChange({
                  idCustomer: fIdCustomer.value,
                  nameCustomer: fNameCustomer.value,
                  firstLastNameCustomer: fFirstLastNameCustomer.value,
                  secondLastNameCustomer: fSecondLastNameCustomer.value
                })
              "
            />
            <input
              type="text"
              class="form-control me-2"
              placeholder="Nombre Cliente"
              #fNameCustomer
              (keyup)="
                onFiltrarChange({
                  idCustomer: fIdCustomer.value,
                  nameCustomer: fNameCustomer.value,
                  firstLastNameCustomer: fFirstLastNameCustomer.value,
                  secondLastNameCustomer: fSecondLastNameCustomer.value
                })
              "
            />
            <input
              type="text"
              class="form-control me-2"
              placeholder="Primer Apellido"
              #fFirstLastNameCustomer
              (keyup)="
                onFiltrarChange({
                  idCustomer: fIdCustomer.value,
                  nameCustomer: fNameCustomer.value,
                  firstLastNameCustomer: fFirstLastNameCustomer.value,
                  secondLastNameCustomer: fSecondLastNameCustomer.value
                })
              "
            />
            <input
              type="text"
              class="form-control me-2"
              placeholder="Segundo Apellido"
              #fSecondLastNameCustomer
              (keyup)="
                onFiltrarChange({
                  idCustomer: fIdCustomer.value,
                  nameCustomer: fNameCustomer.value,
                  firstLastNameCustomer: fFirstLastNameCustomer.value,
                  secondLastNameCustomer: fSecondLastNameCustomer.value
                })
              "
            />
            <button class="btn btn-danger" (click)="(onFiltrar)">&times;</button>
          </div>
        </form>
      </div>
      <div class="card-body">
        <div class="table-responsive text-bg-primary">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">ID Cliente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Celular</th>
                <th scope="col">Dirección</th>
                <th scope="col" colspan="3" class="text-center">
                  <button
                    class="btn btn-success btn-sm"
                    (click)="onNuevo()"
                    data-bs-toggle="modal"
                    data-bs-target="#ventanaCustomer"
                  >
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr
                *ngFor="
                  let item of customers
                    | paginate
                      : {
                          itemsPerPage: itemsPPag,
                          currentPage: pagActual,
                          totalItems: numRegs
                        }
                "
              >
                <th scope="row">{{ item.idCustomer }}</th>
                <td>
                  {{ item.nameCustomer }} {{ item.firstLastNameCustomer }} {{ item.secondLastNameCustomer }}
                </td>
                <td>{{ item.customerEmail }}</td>
                <td>{{ item.customerPhone }}</td>
                <td>{{ item.customerAddress }}</td>
                <td class="text-center">
                  <button
                    class="btn btn-warning btn-sm"
                    (click)="onEditar(item.idCustomer)"
                    data-bs-toggle="modal"
                    data-bs-target="#ventanaEditarCustomer"
                  >
                    <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                  </button>
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="
                      onEliminar( item.idCustomer)"
                  >
                    <fa-icon [icon]="['fas', 'trash-can']"></fa-icon>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn btn-info btn-sm" (click)="onInfo(item.idCustomer)">
                    <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="alert alert-primary text-center"
            *ngIf="customers.length === 0"
          >
            No se encontraron datos
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between pt-4">
        <div class="me-2">
          <select
            class="form-select form-select-sm"
            (change)="onCambioTam($event)"
          >
            <option
              *ngFor="let tama of paginas"
              [ngValue]="tama"
              [selected]="tama === itemsPPag"
            >
              {{ tama }}
            </option>
          </select>
        </div>
        <pagination-controls
          (pageChange)="onCambioPag($event)"
          previousLabel=""
          nextLabel=""
        >
        </pagination-controls>

        <div class="botones">
          <button class="btn btn-warning btn-sm me-2" (click)="onFiltrar()">
            <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>Filtrar
          </button>
          <button class="btn btn-info btn-sm me-2" (click)="onImprimir()">
            <fa-icon [icon]="['fas', 'print']"> </fa-icon>Imprimir
          </button>
          <button class="btn btn-danger btn-sm me-2" (click)="onCerrar()">
            <fa-icon [icon]="['fas', 'circle-xmark']"></fa-icon> Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Formulario Cliente Modal-->

  <!-- Modal -->
  <div
    class="modal fade"
    id="ventanaCustomer"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="ventanaCustomerLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3" id="ventanaCustomerLabel">{{ titulo }}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="frmCustomer" [formGroup]="frmCustomer" (ngSubmit)="onSubmit()">
            <div class="row mb-2">
              <label for="idCustomer" class="col-sm-4 col-form-label"
                >ID</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="idCustomer"
                  formControlName="idCustomer"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['idCustomer'].invalid && F['idCustomer'].touched"
                >
                  <div *ngIf="F['idCustomer'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['idCustomer'].errors!['minlength']">
                    Debe ser al menos 1 digitos
                  </div>
                  <div *ngIf="F['idCustomer'].errors!['maxlength']">
                    Debe ser como maximo 15 digitos
                  </div>
                  <div *ngIf="F['idCustomer'].errors!['pattern']">
                    Este campo solo se admiten numeros
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="nameCustomer" class="col-sm-4 col-form-label">Nombre</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="nameCustomer"
                  formControlName="nameCustomer"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['nameCustomer'].invalid && F['nameCustomer'].touched"
                >
                  <div *ngIf="F['nameCustomer'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['nameCustomer'].errors!['minlength']">
                    Debe tener al menos 3 caracteres
                  </div>
                  <div *ngIf="F['nameCustomer'].errors!['maxlength']">
                    Debe tener maximo 30 caracteres
                  </div>
                  <div *ngIf="F['nameCustomer'].errors!['pattern']">
                    Caracter invalido
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="firstLastNameCustomer" class="col-sm-4 col-form-label"
                >Primer Apellido</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="firstLastNameCustomer"
                  formControlName="firstLastNameCustomer"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['firstLastNameCustomer'].invalid && F['firstLastNameCustomer'].touched"
                >
                  <div *ngIf="F['firstLastNameCustomer'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['firstLastNameCustomer'].errors!['minlength']">
                    Debe tener al menos 2 caracteres
                  </div>
                  <div *ngIf="F['firstLastNameCustomer'].errors!['maxlength']">
                    Debe tener maximo 30 caracteres
                  </div>
                  <div *ngIf="F['firstLastNameCustomer'].errors!['pattern']">
                    Caracter invalido
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="secondLastNameCustomer" class="col-sm-4 col-form-label"
                >Segundo Apellido</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="secondLastNameCustomer"
                  formControlName="secondLastNameCustomer"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['secondLastNameCustomer'].invalid && F['secondLastNameCustomer'].touched"
                >
                  <div *ngIf="F['secondLastNameCustomer'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['secondLastNameCustomer'].errors!['minlength']">
                    Debe tener al menos 2 caracteres
                  </div>
                  <div *ngIf="F['secondLastNameCustomer'].errors!['maxlength']">
                    Debe tener maximo 30 caracteres
                  </div>
                  <div *ngIf="F['secondLastNameCustomer'].errors!['pattern']">
                    Caracter invalido
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="customerPhone" class="col-sm-4 col-form-label"
                >Telefono</label
              >
              <div class="col-sm-9">
                <input
                  type="tel"
                  class="form-control"
                  id="customerPhone"
                  formControlName="customerPhone"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['customerPhone'].invalid && F['customerPhone'].touched"
                >
                  <div *ngIf="F['customerPhone'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['customerPhone'].errors!['pattern']">
                    Formato invalido
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="customerEmail" class="col-sm-4 col-form-label">Correo electrónico</label>
              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  id="customerEmail"
                  formControlName="customerEmail"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['customerEmail'].invalid && F['customerEmail'].touched"
                >
                  <div *ngIf="F['customerEmail'].errors!['email']">Formato invalido</div>
                  <div *ngIf="F['customerEmail'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                </div>
              </div>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="customerAddress"
                id="customerAddress"
                style="height: 100px"
                formControlName="customerAddress"
              ></textarea>
              <label for="customerAddress">Dirección</label>
              <div
                class="alert alert-danger"
                *ngIf="F['customerAddress'].invalid && F['customerAddress'].touched"
              >
                <div *ngIf="F['customerAddress'].errors!['minlength']">
                  Debe tener al menos 5 caracteres
                </div>
              </div>
            </div>
            <input type="hidden" formControlName="admissionDate" />
          </form>
          <!--<div>formulario Valid:{{frmCustomer.valid}}</div>
          <div>formulario No Valid:{{frmCustomer.invalid}}</div>-->
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            form="frmCustomer"
            [disabled]="frmCustomer.invalid"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

   <!-- Formulario Cliente Modal-->

  <!-- Modal -->
  <div
    class="modal fade"
    id="ventanaEditarCustomer"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="ventanaEditarCustomerLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3" id="ventanaEditarCustomerLabel">{{ titulo }}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="frmCustomer" [formGroup]="frmCustomer" (ngSubmit)="onSubmit()">
            <div class="row mb-2">
              <label for="idCustomer" class="col-sm-4 col-form-label"
                >ID</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="idCustomer"
                  formControlName="idCustomer"
                  readonly
                  style="background-color: rgb(207, 207, 207)"
                />

              </div>
            </div>
            <div class="row mb-2">
              <label for="nameCustomer" class="col-sm-4 col-form-label">Nombre</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="nameCustomer"
                  formControlName="nameCustomer"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['nameCustomer'].invalid && F['nameCustomer'].touched"
                >
                  <div *ngIf="F['nameCustomer'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['nameCustomer'].errors!['minlength']">
                    Debe tener al menos 3 caracteres
                  </div>
                  <div *ngIf="F['nameCustomer'].errors!['maxlength']">
                    Debe tener maximo 30 caracteres
                  </div>
                  <div *ngIf="F['nameCustomer'].errors!['pattern']">
                    Caracter invalido
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="firstLastNameCustomer" class="col-sm-4 col-form-label"
                >Primer Apellido</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="firstLastNameCustomer"
                  formControlName="firstLastNameCustomer"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['firstLastNameCustomer'].invalid && F['firstLastNameCustomer'].touched"
                >
                  <div *ngIf="F['firstLastNameCustomer'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['firstLastNameCustomer'].errors!['minlength']">
                    Debe tener al menos 2 caracteres
                  </div>
                  <div *ngIf="F['firstLastNameCustomer'].errors!['maxlength']">
                    Debe tener maximo 30 caracteres
                  </div>
                  <div *ngIf="F['firstLastNameCustomer'].errors!['pattern']">
                    Caracter invalido
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="secondLastNameCustomer" class="col-sm-4 col-form-label"
                >Segundo Apellido</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="secondLastNameCustomer"
                  formControlName="secondLastNameCustomer"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['secondLastNameCustomer'].invalid && F['secondLastNameCustomer'].touched"
                >
                  <div *ngIf="F['secondLastNameCustomer'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['secondLastNameCustomer'].errors!['minlength']">
                    Debe tener al menos 2 caracteres
                  </div>
                  <div *ngIf="F['secondLastNameCustomer'].errors!['maxlength']">
                    Debe tener maximo 30 caracteres
                  </div>
                  <div *ngIf="F['secondLastNameCustomer'].errors!['pattern']">
                    Caracter invalido
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="customerPhone" class="col-sm-4 col-form-label"
                >Telefono</label
              >
              <div class="col-sm-9">
                <input
                  type="tel"
                  class="form-control"
                  id="customerPhone"
                  formControlName="customerPhone"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['customerPhone'].invalid && F['customerPhone'].touched"
                >
                  <div *ngIf="F['customerPhone'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['customerPhone'].errors!['pattern']">
                    Formato invalido
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <label for="customerEmail" class="col-sm-4 col-form-label">Correo electrónico</label>
              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  id="customerEmail"
                  formControlName="customerEmail"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['customerEmail'].invalid && F['customerEmail'].touched"
                >
                  <div *ngIf="F['customerEmail'].errors!['email']">Formato invalido</div>
                  <div *ngIf="F['customerEmail'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                </div>
              </div>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="customerAddress"
                id="customerAddress"
                style="height: 100px"
                formControlName="customerAddress"
              ></textarea>
              <label for="customerAddress">Dirección</label>
              <div
                class="alert alert-danger"
                *ngIf="F['customerAddress'].invalid && F['customerAddress'].touched"
              >
                <div *ngIf="F['customerAddress'].errors!['minlength']">
                  Debe tener al menos 5 caracteres
                </div>
              </div>
            </div>
            <input type="hidden" formControlName="admissionDate" />
          </form>
          <!--<div>formulario Valid:{{frmCustomer.valid}}</div>
          <div>formulario No Valid:{{frmCustomer.invalid}}</div>-->
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            form="frmCustomer"
            [disabled]="frmCustomer.invalid"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
