<div class="container-fluid">
  <div class="card bg-info">
    <div class="card-header">Colaboradores(as)</div>
    <div class="container-fluid" [@estadoFiltro]="stateFiltro">
      <form>
        <div class="d-flex">
          <input
            type="text"
            class="form-control me-2"
            placeholder="ID persona"
            #fIdPerson
            (keyup)="
              onFiltrarChange({
                idPerson: fIdPerson.value,
                idRol: fIdRol.value,
                namePerson: fNamePerson.value,
                firstLastNamePerson: fFirstLastNamePerson.value,
                secondLastNamePerson: fSecondLastNamePerson.value
              })
            "
          />
          <input
            type="text"
            class="form-control me-2"
            placeholder="ID rol"
            #fIdRol
            (keyup)="
              onFiltrarChange({
                idPerson: fIdPerson.value,
                idRol: fIdRol.value,
                namePerson: fNamePerson.value,
                firstLastNamePerson: fFirstLastNamePerson.value,
                secondLastNamePerson: fSecondLastNamePerson.value
              })
            "
          />
          <input
            type="text"
            class="form-control me-2"
            placeholder="namePerson"
            #fNamePerson
            (keyup)="
              onFiltrarChange({
                idPerson: fIdPerson.value,
                idRol: fIdRol.value,
                namePerson: fNamePerson.value,
                firstLastNamePerson: fFirstLastNamePerson.value,
                secondLastNamePerson: fSecondLastNamePerson.value
              })
            "
          />
          <input
            type="text"
            class="form-control me-2"
            placeholder="Primer Apellido"
            #fFirstLastNamePerson
            (keyup)="
              onFiltrarChange({
                idPerson: fIdPerson.value,
                idRol: fIdRol.value,
                namePerson: fNamePerson.value,
                firstLastNamePerson: fFirstLastNamePerson.value,
                secondLastNamePerson: fSecondLastNamePerson.value
              })
            "
          />
          <input
            type="text"
            class="form-control me-2"
            placeholder="Segundo Apellido"
            #fSecondLastNamePerson
            (keyup)="
              onFiltrarChange({
                idPerson: fIdPerson.value,
                idRol: fIdRol.value,
                namePerson: fNamePerson.value,
                firstLastNamePerson: fFirstLastNamePerson.value,
                secondLastNamePerson: fSecondLastNamePerson.value
              })
            "
          />
          <button class="btn btn-danger" (click)="(onFiltrar)">&times;</button>
        </div>
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive text-bg-primary">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Rol</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo electrónico	</th>
              <th scope="col">Telefono</th>
              <th scope="col">Dirección</th>
              <th scope="col" colspan="3" class="text-center">
                <button
                  class="btn btn-success btn-sm"
                  (click)="onNuevo()"
                  data-bs-toggle="modal"
                  data-bs-target="#ventanaPerson"
                >
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr
              *ngFor="
                let item of persons
                  | paginate
                    : {
                        itemsPerPage: itemsPPag,
                        currentPage: pagActual,
                        totalItems: numRegs
                      }
              "
            >
              <th scope="row">{{ item.idPerson }}</th>
              <td>{{ item.rolDescription }}</td>
              <td>
                {{ item.namePerson }} {{ item.firstLastNamePerson }}
                {{ item.secondLastNamePerson }}
              </td>
              <td>{{ item.personEmail }}</td>
              <td>{{ item.personPhone }}</td>
              <td>{{ item.personAddress }}</td>
              <td class="text-center">
                <button
                  class="btn btn-warning btn-sm"
                  (click)="onEditar(item.idPerson)"
                  data-bs-toggle="modal"
                  data-bs-target="#ventanaEditarPerson"
                >
                  <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                </button>
              </td>
              <td class="text-center">
                <button
                  class="btn btn-danger btn-sm"
                  (click)="onEliminar(item.idPerson)"
                >
                  <fa-icon [icon]="['fas', 'trash-can']"></fa-icon>
                </button>
              </td>
              <td class="text-center">
                <button
                  class="btn btn-info btn-sm"
                  (click)="onInfo(item.idPerson)"
                >
                  <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="alert alert-primary text-center"
          *ngIf="persons.length === 0"
        >
          No se encontraron datos
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between pt-4">
      <div class="me-2">
        <select
          class="form-select form-select-sm"
          (change)="onCambioTam($event)"
        >
          <option
            *ngFor="let tama of paginas"
            [ngValue]="tama"
            [selected]="tama === itemsPPag"
          >
            {{ tama }}
          </option>
        </select>
      </div>
      <pagination-controls
        (pageChange)="onCambioPag($event)"
        previousLabel=""
        nextLabel=""
      >
      </pagination-controls>

      <div class="botones">
        <button class="btn btn-warning btn-sm me-2" (click)="onFiltrar()">
          <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>Filtrar
        </button>
        <button class="btn btn-info btn-sm me-2" (click)="onImprimir()">
          <fa-icon [icon]="['fas', 'print']"> </fa-icon>Imprimir
        </button>
        <button class="btn btn-danger btn-sm me-2" (click)="onCerrar()">
          <fa-icon [icon]="['fas', 'circle-xmark']"></fa-icon> Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Cliente Modal-->

<!-- Modal -->
<div
  class="modal fade"
  id="ventanaPerson"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="ventanaPersonLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ventanaPersonLabel">{{ titulo }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="frmPerson" [formGroup]="frmPerson" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label for="idPerson" class="col-sm-3 col-form-label"
              >Id Cliente</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="idPerson"
                formControlName="idPerson"
              />
              <div
                class="alert alert-danger"
                *ngIf="F['idPerson'].invalid && F['idPerson'].touched"
              >
                <div *ngIf="F['idPerson'].errors!['required']">
                  Este campo es Obligatorio
                </div>
                <div *ngIf="F['idPerson'].errors!['minlength']">
                  Debe ser al menos 1 digitos
                </div>
                <div *ngIf="F['idPerson'].errors!['maxlength']">
                  Debe ser como maximo 15 digitos
                </div>
                <div *ngIf="F['idPerson'].errors!['pattern']">
                  Este campo solo se admiten numeros
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <form
              id="frmPerson"
              [formGroup]="frmPerson"
              (ngSubmit)="onSubmit()"
            >
              <div class="row mb-3">
                <label for="idRol" class="col-sm-3 col-form-label"
                  >Rol</label
                >
                <div class="col-sm-9">
                <input
                type="text"
                class="form-control"
                id="idRol"
                formControlName="idRol"
              />
              </div>
              </div>
              <div class="row mb-2">
                <label for="namePerson" class="col-sm-3 col-form-label"
                  >Nombre</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="namePerson"
                    formControlName="namePerson"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="F['namePerson'].invalid && F['namePerson'].touched"
                  >
                    <div *ngIf="F['namePerson'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                    <div *ngIf="F['namePerson'].errors!['minlength']">
                      Debe tener al menos 3 caracteres
                    </div>
                    <div *ngIf="F['namePerson'].errors!['maxlength']">
                      Debe tener maximo 30 caracteres
                    </div>
                    <div *ngIf="F['namePerson'].errors!['pattern']">
                      Caracter inválido
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <label for="firstLastNamePerson" class="col-sm-3 col-form-label"
                  >Primer Apellido</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="firstLastNamePerson"
                    formControlName="firstLastNamePerson"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      F['firstLastNamePerson'].invalid &&
                      F['firstLastNamePerson'].touched
                    "
                  >
                    <div *ngIf="F['firstLastNamePerson'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                    <div *ngIf="F['firstLastNamePerson'].errors!['minlength']">
                      Debe tener al menos 2 caracteres
                    </div>
                    <div *ngIf="F['firstLastNamePerson'].errors!['maxlength']">
                      Debe tener maximo 30 caracteres
                    </div>
                    <div *ngIf="F['firstLastNamePerson'].errors!['pattern']">
                      Caracter invalido
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <label
                  for="secondLastNamePerson"
                  class="col-sm-3 col-form-label"
                  >Apellido 2</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="secondLastNamePerson"
                    formControlName="secondLastNamePerson"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      F['secondLastNamePerson'].invalid &&
                      F['secondLastNamePerson'].touched
                    "
                  >
                    <div *ngIf="F['secondLastNamePerson'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                    <div *ngIf="F['secondLastNamePerson'].errors!['minlength']">
                      Debe tener al menos 2 caracteres
                    </div>
                    <div *ngIf="F['secondLastNamePerson'].errors!['maxlength']">
                      Debe tener maximo 30 caracteres
                    </div>
                    <div *ngIf="F['secondLastNamePerson'].errors!['pattern']">
                      Caracter invalido
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <label for="personPhone" class="col-sm-3 col-form-label"
                  >Teléfono</label
                >
                <div class="col-sm-9">
                  <input
                    type="tel"
                    class="form-control"
                    id="personPhone"
                    formControlName="personPhone"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="F['personPhone'].invalid && F['personPhone'].touched"
                  >
                    <div *ngIf="F['personPhone'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                    <div *ngIf="F['personPhone'].errors!['pattern']">
                      Formato invalido
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <label for="personEmail" class="col-sm-3 col-form-label"
                  >Correo</label
                >
                <div class="col-sm-9">
                  <input
                    type="email"
                    class="form-control"
                    id="personEmail"
                    formControlName="personEmail"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="F['personEmail'].invalid && F['personEmail'].touched"
                  >
                    <div *ngIf="F['personEmail'].errors!['email']">
                      Formato invalido
                    </div>
                    <div *ngIf="F['personEmail'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="personAddress"
                  id="personAddress"
                  style="height: 100px"
                  formControlName="personAddress"
                ></textarea>
                <label for="personAddress">Direccion</label>
                <div
                  class="alert alert-danger"
                  *ngIf="
                    F['personAddress'].invalid && F['personAddress'].touched
                  "
                ></div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary"
              form="frmPerson"
              [disabled]="frmPerson.invalid"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Cliente Modal-->

<!-- Modal -->
<div
  class="modal fade"
  id="ventanaEditarPerson"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="ventanaEditarPersonLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ventanaEditarPersonLabel">{{ titulo }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="frmPerson" [formGroup]="frmPerson" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label for="idPerson" class="col-sm-3 col-form-label"
              >Id Cliente</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="idPerson"
                formControlName="idPerson"
                readonly
                  style="background-color: rgb(207, 207, 207)"
              />

            </div>
          </div>
          <div class="modal-body">
            <form
              id="frmPerson"
              [formGroup]="frmPerson"
              (ngSubmit)="onSubmit()"
            >
              <div class="row mb-3">
                <label for="idRol" class="col-sm-3 col-form-label"
                  >Rol</label
                >
                <div class="col-sm-9">
                <input
                type="text"
                class="form-control"
                id="idRol"
                formControlName="idRol"
              />
              </div>
              </div>
              <div class="row mb-2">
                <label for="namePerson" class="col-sm-3 col-form-label"
                  >Nombre</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="namePerson"
                    formControlName="namePerson"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="F['namePerson'].invalid && F['namePerson'].touched"
                  >
                    <div *ngIf="F['namePerson'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                    <div *ngIf="F['namePerson'].errors!['minlength']">
                      Debe tener al menos 3 caracteres
                    </div>
                    <div *ngIf="F['namePerson'].errors!['maxlength']">
                      Debe tener maximo 30 caracteres
                    </div>
                    <div *ngIf="F['namePerson'].errors!['pattern']">
                      Caracter inválido
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <label for="firstLastNamePerson" class="col-sm-3 col-form-label"
                  >Primer Apellido</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="firstLastNamePerson"
                    formControlName="firstLastNamePerson"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      F['firstLastNamePerson'].invalid &&
                      F['firstLastNamePerson'].touched
                    "
                  >
                    <div *ngIf="F['firstLastNamePerson'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                    <div *ngIf="F['firstLastNamePerson'].errors!['minlength']">
                      Debe tener al menos 2 caracteres
                    </div>
                    <div *ngIf="F['firstLastNamePerson'].errors!['maxlength']">
                      Debe tener maximo 30 caracteres
                    </div>
                    <div *ngIf="F['firstLastNamePerson'].errors!['pattern']">
                      Caracter invalido
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <label
                  for="secondLastNamePerson"
                  class="col-sm-3 col-form-label"
                  >Apellido 2</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="secondLastNamePerson"
                    formControlName="secondLastNamePerson"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      F['secondLastNamePerson'].invalid &&
                      F['secondLastNamePerson'].touched
                    "
                  >
                    <div *ngIf="F['secondLastNamePerson'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                    <div *ngIf="F['secondLastNamePerson'].errors!['minlength']">
                      Debe tener al menos 2 caracteres
                    </div>
                    <div *ngIf="F['secondLastNamePerson'].errors!['maxlength']">
                      Debe tener maximo 30 caracteres
                    </div>
                    <div *ngIf="F['secondLastNamePerson'].errors!['pattern']">
                      Caracter invalido
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <label for="personPhone" class="col-sm-3 col-form-label"
                  >Teléfono</label
                >
                <div class="col-sm-9">
                  <input
                    type="tel"
                    class="form-control"
                    id="personPhone"
                    formControlName="personPhone"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="F['personPhone'].invalid && F['personPhone'].touched"
                  >
                    <div *ngIf="F['personPhone'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                    <div *ngIf="F['personPhone'].errors!['pattern']">
                      Formato invalido
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <label for="personEmail" class="col-sm-3 col-form-label"
                  >Correo</label
                >
                <div class="col-sm-9">
                  <input
                    type="email"
                    class="form-control"
                    id="personEmail"
                    formControlName="personEmail"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="F['personEmail'].invalid && F['personEmail'].touched"
                  >
                    <div *ngIf="F['personEmail'].errors!['email']">
                      Formato invalido
                    </div>
                    <div *ngIf="F['personEmail'].errors!['required']">
                      Este campo es Obligatorio
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="personAddress"
                  id="personAddress"
                  style="height: 100px"
                  formControlName="personAddress"
                ></textarea>
                <label for="personAddress">Direccion</label>
                <div
                  class="alert alert-danger"
                  *ngIf="
                    F['personAddress'].invalid && F['personAddress'].touched
                  "
                ></div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary"
              form="frmPerson"
              [disabled]="frmPerson.invalid"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
