<div class="container">
  <div class="left">
          <div class="d-flex align-items-center justify-content-center">
            <img
              src="../../../assets/img/Icon.png"
              class="d-block w-auto"
              alt="..."
            />
          </div>
          <div class = "text-img"><h1>[Ejemplo de texto]</h1></div>
  </div>
  <div class="right">
    <div class = "container-title">
      <h1>Sistema Gestor de Inventarios</h1>
      <h2>Arauz & Lisby S.A.</h2>

    </div>
  </div>
</div>
