<div class="container-fluid">
  <div class="card bg-info">
    <div class="card-header">Inventario</div>
    <div class="container-fluid" [@estadoFiltro]="stateFiltro">
      <form>
        <div class="d-flex">
          <input
            type="text"
            class="form-control me-2"
            placeholder="ID Almacén"
            #fidWareHouse
            (keyup)="
            onFiltrarChange({
              idWareHouse: fidWareHouse.value,
              idProduct: fIdProduct.value,
            })" />

          <input
            type="text"
            class="form-control me-2"
            placeholder="ID Producto"
            #fIdProduct
            (keyup)="
               onFiltrarChange({
                  idWareHouse: fidWareHouse.value,
                  idProduct: fIdProduct.value,
                  })" />

          <button class="btn btn-danger" (click)="(onFiltrar)">&times;</button>
        </div>
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive text-bg-primary">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">ID Producto</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col" colspan="3" class="text-center">
                <button
                  class="btn btn-success btn-sm"
                  (click)="onNuevo()"
                  data-bs-toggle="modal"
                  data-bs-target="#ventanaWarehouse"
                >
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </button>
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr
              *ngFor="
                let item of warehouses
                  | paginate
                    : {
                        itemsPerPage: itemsPPag,
                        currentPage: pagActual,
                        totalItems: numRegs
                      }
              "
            >
              <th scope="row">{{ item.idWareHouse }}</th>
              <td> {{ item.idProduct }} </td>
              <td> {{ item.productDescription }} </td>
              <td> {{ item.cantItem }} </td>
              <td class="text-center">
                <button
                  class="btn btn-warning btn-sm"
                  (click)="onEditar(item.idWareHouse)"
                  data-bs-toggle="modal"
                  data-bs-target="#ventanaEditarWarehouse"
                >
                  <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                </button>
              </td>
              <td class="text-center">
                <button
                  class="btn btn-danger btn-sm"
                  (click)="
                    onEliminar(item.idWareHouse) "
                >
                  <fa-icon [icon]="['fas', 'trash-can']"></fa-icon>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-info btn-sm" (click)="onInfo(item.idWareHouse)">
                  <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="alert alert-primary text-center"
          *ngIf="warehouses.length === 0"
        >
          No se encontraron datos
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between pt-4">
      <div class="me-2">
        <select
          class="form-select form-select-sm"
          (change)="onCambioTam($event)"
        >
          <option
            *ngFor="let tama of paginas"
            [ngValue]="tama"
            [selected]="tama === itemsPPag"
          >
            {{ tama }}
          </option>
        </select>
      </div>
      <pagination-controls
        (pageChange)="onCambioPag($event)"
        previousLabel=""
        nextLabel=""
      >
      </pagination-controls>

      <div class="botones">
        <button class="btn btn-warning btn-sm me-2" (click)="onFiltrar()">
          <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>

          Filtrar

        </button>
        <button class="btn btn-info btn-sm me-2" (click)="onImprimir()">
          <fa-icon [icon]="['fas', 'print']"> </fa-icon>

          Imprimir

        </button>
        <button class="btn btn-danger btn-sm me-2" (click)="onCerrar()">
          <fa-icon [icon]="['fas', 'circle-xmark']"></fa-icon>

          Cerrar

        </button>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Cliente Modal-->

<!-- Modal -->
<div
  class="modal fade"
  id="ventanaWarehouse"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="ventanaWarehouseLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ventanaWarehouseLabel">{{ titulo }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="frmWarehouse" [formGroup]="frmWarehouse" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label for="idWareHouse" class="col-sm-3 col-form-label">

              ID Venta

            </label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="idWareHouse"
                formControlName="idWareHouse"
              />
              <div
                class="alert alert-danger"
                *ngIf="F['idWareHouse'].invalid && F['idWareHouse'].touched"
              >
                <div *ngIf="F['idWareHouse'].errors!['required']">
                  Este campo es Obligatorio
                </div>
                <div *ngIf="F['idWareHouse'].errors!['minlength']">
                  Debe ser al menos 1 digitos
                </div>
                <div *ngIf="F['idWareHouse'].errors!['maxlength']">
                  Debe ser como maximo 15 digitos
                </div>
                <div *ngIf="F['idWareHouse'].errors!['pattern']">
                  Este campo solo se admiten numeros
                </div>
              </div>
            </div>
          </div>
            <div class="row mb-3">
              <label for="idProduct" class="col-sm-3 col-form-label">

                Producto

              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="idProduct"
                  formControlName="idProduct"/>
                <div
                  class="alert alert-danger"
                  *ngIf="F['idProduct'].invalid && F['idProduct'].touched">
                  <div *ngIf="F['idProduct'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['idProduct'].errors!['minlength']">
                    Debe ser al menos 1 digitos
                  </div>
                  <div *ngIf="F['idProduct'].errors!['maxlength']">
                    Debe ser como maximo 15 digitos
                  </div>
                  <div *ngIf="F['idProduct'].errors!['pattern']">
                    Este campo solo se admiten numeros
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="cantItem" class="col-sm-3 col-form-label">

                Cantidad

              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="cantItem"
                  formControlName="cantItem"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['cantItem'].invalid && F['cantItem'].touched"
                >
                  <div *ngIf="F['cantItem'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['cantItem'].errors!['minlength']">
                    Debe ser al menos 1 digitos
                  </div>
                  <div *ngIf="F['cantItem'].errors!['pattern']">
                    Este campo solo se admiten numeros
                  </div>
                </div>
              </div>
            </div>
        </form>
        <!--<div>formulario Valid:{{frmWarehouse.valid}}</div>
        <div>formulario No Valid:{{frmWarehouse.invalid}}</div>-->
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          form="frmWarehouse"
          [disabled]="frmWarehouse.invalid">

          Guardar

        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">

          Cerrar

        </button>
      </div>
    </div>
  </div>
</div>

<!-- Formulario Cliente Modal-->

<!-- Modal -->
<div
  class="modal fade"
  id="ventanaEditarWarehouse"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="ventanaEditarWarehouseLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ventanaEditarWarehouseLabel">{{ titulo }}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="frmWarehouse" [formGroup]="frmWarehouse" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label for="idWareHouse" class="col-sm-3 col-form-label"
              >ID Bodega</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="idWareHouse"
                formControlName="idWareHouse"
                readonly
                  style="background-color: rgb(207, 207, 207)"
              />
            </div>
          </div>
            <div class="row mb-3">
              <label for="idProduct" class="col-sm-3 col-form-label"
                >Producto</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="idProduct"
                  formControlName="idProduct"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['idProduct'].invalid && F['idProduct'].touched"
                >
                  <div *ngIf="F['idProduct'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['idProduct'].errors!['minlength']">
                    Debe ser al menos 1 digitos
                  </div>
                  <div *ngIf="F['idProduct'].errors!['maxlength']">
                    Debe ser como maximo 15 digitos
                  </div>
                  <div *ngIf="F['idProduct'].errors!['pattern']">
                    Este campo solo se admiten numeros
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="cantItem" class="col-sm-3 col-form-label"
                >Cantidad</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="cantItem"
                  formControlName="cantItem"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="F['cantItem'].invalid && F['cantItem'].touched"
                >
                  <div *ngIf="F['cantItem'].errors!['required']">
                    Este campo es Obligatorio
                  </div>
                  <div *ngIf="F['cantItem'].errors!['minlength']">
                    Debe ser al menos 1 digitos
                  </div>
                  <div *ngIf="F['cantItem'].errors!['pattern']">
                    Este campo solo se admiten numeros
                  </div>
                </div>
              </div>
            </div>
        </form>
        <!--<div>formulario Valid:{{frmWarehouse.valid}}</div>
        <div>formulario No Valid:{{frmWarehouse.invalid}}</div>-->
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          form="frmWarehouse"
          [disabled]="frmWarehouse.invalid">
          Guardar
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
