<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Taller</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cliente']">Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" >Action</a></li>
              <li><a class="dropdown-item" >Another action</a></li>
              <li><a class="dropdown-item" >Something else here</a></li>
            </ul>
          </li>
        </ul>
        <div class="btn-group dropstart" *ngIf="usuario">
          <!-- button[type=button].btn.btn-secondary.dropdown-toggle ESTO GENERA EL BOTÓN DE ABAJO-->
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
            <fa-icon [icon]="['fas','user']"></fa-icon> {{usuario}}
            <!-- ul>(li>a.dropdown-item)*3  ESTO GENERA LA ESTRUCTURA DE ABAJO-->
            <ul class="dropdown-menu">
              <li><a href="#" class="dropdown-item" (click)="onSalir();">Salir</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="" class="dropdown-item">Cambiar Contraseña</a></li>
            </ul>
          </button>
        </div>
      </div>
    </div>
  </nav>
