<div class="container-sm mt-3" style="width: 25rem">
    <div class="card">
    <div class="card-header">
        <h3 class="text-center font-weight-bold">Iniciar Sesion</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="frmLogin" id="frmLogin" (submit)="onSubmit()">
            <div class="form-floating mb-3">
                <input formControlName="idUsuario" type="text" id="idUsuario" class="form-control" placeholder="Id Usuario">
                <label for="idUsuario">Id Usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input formControlName="passw" type="password" id="passw" class="form-control" placeholder="Contraseña">
                <label for="passw">Contraseña</label>
            </div>
            <div class="alert alert-danger text-center"
            *ngIf="errorLogin">Contraseña o Usuario Incorrectos</div>
        </form>
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2">
            <button class="btn btn-dark" form="frmLogin" type="submit" [disabled]="frmLogin.invalid">Iniciar</button>
        </div>
    </div>
</div>