<div class="container-sm mt-3" style ="width: 25rem">
    <div class="card">
        <div class="card-header"><h3 class ="text-center">Iniciar Sesión</h3></div>
        <div class="card-body">
            <form [formGroup] = "frmLogin" id = "frmLogin" (submit) = "onSubmit();">
                <div class="form-floating mb-3">
                    <input type="text" id = "idUsuario" class="form-control" placeholder="Id Usuario"
                    formControlName ="idUsuario">
                    <label for="idUsuario">Id Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" id = "passw" class="form-control" placeholder="Contraseña"
                    formControlName ="passw">
                    <label for="passw">Contraseña</label>
                </div>
                <div class="alert alert-danger" *ngIf="errorLogin">Usuario o contraseña no válido</div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2">
                <button type ="submit" class="btn btn-primary" form = "frmLogin" 
                [disabled]="frmLogin.invalid">Iniciar</button>
            </div>
        </div>
</div>