<div class="container-sm mt-1" style="width: 35%;">
  <div
  class="alert alert-danger text-center mx-0"
  *ngIf="errorLogin"
>
  Usuario o contraseña incorrectos
</div>
  <div class="card bg-info" >
    <div class="card-header"style="background-color: rgb(38, 183, 197);">
      <h3 class="text-center font-weight-bold">Iniciar Sesión</h3>
      <div class="card-body"></div>
      <form [formGroup]="frmLogin" id="frmLogin" (submit)="onSubmit()">
        <div class="form-floating mb-3">
          <input
            formControlName="idUsuario"
            type="text"
            id="idUsuario"
            class="form-control"
            placeholder="Id Usuario"
          />
          <label for="idUsuario">ID Usuario</label>
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="passw"
            type="password"
            id="passw"
            class="form-control"
            placeholder="Contraseña"
          />
          <label for="passw">Contraseña</label>
        </div>
      </form>
    </div>
    <div class="card-footer" style="background-color: rgb(38, 183, 197);">
      <div class="d-grid gap-2">
        <button
          class="btn btn-success"
          form="frmLogin"
          type="submit"
          [disabled]="frmLogin.invalid"
        style="background-color: blue;">
          Iniciar
        </button>
      </div>
    </div>
  </div>

</div>
