/* You can add global styles to this file, and also import other style files */
body{
  background: #f5f5f5dd;
}
nav{
  background: #069bae90;
  text-align: start;
  font-family: sans-serif;
  font-style: italic;
}

