/* You can add global styles to this file, and also import other style files */
body{
  background: #2d288cdd;
}
nav{
  background: #423cb590;
  text-align: start;
  font-family: sans-serif;
  font-style: italic;
}

