<div class="container-fluid">
  <div class="card bg-info">
    <div class="card-header ">Catálogo de Productos</div>
    <div class="container-fluid" [@estadoFiltro]="stateFiltro">
        <form>
          <div class="d-flex">
            <input
              type="text"
              class="form-control me-2"
              placeholder="ID Producto"
              #fIdProduct
              (keyup)="
                onFiltrarChange({
                  idProduct: fIdProduct.value,
                })"/>
            <button class="btn btn-danger" (click)="(onFiltrar)">&times;</button>
          </div>
        </form>
      </div>
      <div class="card-body">
        <div class="table-responsive text-bg-primary">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Clasificación</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha Expiración</th>
                <th scope="col" colspan="3" class="text-center">
                  <button
                    class="btn btn-success btn-sm"
                    (click)="onNuevo()"
                    data-bs-toggle="modal"
                    data-bs-target="#ventanaProduct"
                  >
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr
                *ngFor="
                  let item of products
                    | paginate
                      : {
                          itemsPerPage: itemsPPag,
                          currentPage: pagActual,
                          totalItems: numRegs
                        }
                "
              >
                <th scope="row">{{ item.idProduct }}</th>
                <td>{{ item.supplierDescription }}</td>
                <td>{{ item.classificationDescription }}</td>
                <td>{{ item.productDescription }}</td>
                <td>{{ item.priceProduct }}</td>
                <td>{{ item.expirationProduct }}</td>
                <td class="text-center">
                  <button
                    class="btn btn-warning btn-sm"
                    (click)="onEditar(item.idProduct)"
                    data-bs-toggle="modal"
                    data-bs-target="#ventanaEditarProduct"
                  >
                    <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                  </button>
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="
                      onEliminar(
                        item.idProduct )">
                    <fa-icon [icon]="['fas', 'trash-can']"></fa-icon>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn btn-info btn-sm" (click)="onInfo(item.idProduct)">
                    <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="alert alert-primary text-center"
            *ngIf="products.length === 0"
          >
            No se encontraron datos
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between pt-4">
        <div class="me-2">
          <select
            class="form-select form-select-sm"
            (change)="onCambioTam($event)"
          >
            <option
              *ngFor="let tama of paginas"
              [ngValue]="tama"
              [selected]="tama === itemsPPag"
            >
              {{ tama }}
            </option>
          </select>
        </div>
        <pagination-controls
          (pageChange)="onCambioPag($event)"
          previousLabel=""
          nextLabel=""
        >
        </pagination-controls>

        <div class="botones">
          <button class="btn btn-warning btn-sm me-2" (click)="onFiltrar()">
            <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>Filtrar
          </button>
          <button class="btn btn-info btn-sm me-2" (click)="onImprimir()">
            <fa-icon [icon]="['fas', 'print']"> </fa-icon>Imprimir
          </button>
          <button class="btn btn-danger btn-sm me-2" (click)="onCerrar()">
            <fa-icon [icon]="['fas', 'circle-xmark']"></fa-icon> Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Formulario Cliente Modal-->

  <!-- Modal -->
  <div
    class="modal fade"
    id="ventanaProduct"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="ventanaProductLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ventanaProductLabel">{{ titulo }}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="frmProduct" [formGroup]="frmProduct" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
              <label for="idProduct" class="col-sm-3 col-form-label"
                >Id Cliente</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="idProduct"
                  formControlName="idProduct"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="idSupplier" class="col-sm-3 col-form-label"
                >Proveedor</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="idSupplier"
                  formControlName="idSupplier"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="idClassification" class="col-sm-3 col-form-label"
                >Clasificación</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="idClassification"
                  formControlName="idClassification"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="productDescription" class="col-sm-3 col-form-label"
                >Descripción</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="productDescription"
                  formControlName="productDescription"
                />
              </div>
            </div>

            <div class="row mb-3">
              <label for="priceProduct" class="col-sm-3 col-form-label"
                >Precio</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="priceProduct"
                  formControlName="priceProduct"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="expirationProduct" class="col-sm-3 col-form-label"
                >Fecha Expiración</label
              >
              <div class="col-sm-9">
                <input
                  type="date"
                  class="form-control"
                  id="expirationProduct"
                  formControlName="expirationProduct"
                />
              </div>
            </div>

          </form>
          <!--<div>formulario Valid:{{frmProduct.valid}}</div>
          <div>formulario No Valid:{{frmProduct.invalid}}</div>-->
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            form="frmProduct"
            [disabled]="frmProduct.invalid"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Formulario Cliente Modal-->

  <!-- Modal -->
  <div
    class="modal fade"
    id="ventanaEditarProduct"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="ventanaEditarProductLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ventanaEditarProductLabel">{{ titulo }}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="frmProduct" [formGroup]="frmProduct" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
              <label for="idProduct" class="col-sm-3 col-form-label"
                >ID Producto</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="idProduct"
                  formControlName="idProduct"
                  readonly
                  style="background-color: rgb(207, 207, 207)"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="idSupplier" class="col-sm-3 col-form-label"
                >Proveedores</label
              >
              <div class="col-sm-9">
                <!-- <input
                  type="text"
                  class="form-control"
                  id="idSupplier"
                  formControlName="idSupplier"
                /> -->
                <select class="form-control" id="clienteSeleccionado" >
                  <option *ngFor="let item of products" [value]="item.idProduct">{{ item.productDescription }}</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="idClassification" class="col-sm-3 col-form-label"
                >Clasificaciónes</label
              >
              <div class="col-sm-9">
                <!-- <input
                  type="text"
                  class="form-control"
                  id="idClassification"
                  formControlName="idClassification"
                /> -->
                <select class="form-control" id="clienteSeleccionado" >
                  <option *ngFor="let item of products" [value]="item.idProduct">{{ item.productDescription }}</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="productDescription" class="col-sm-3 col-form-label"
                >Descripción</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="productDescription"
                  formControlName="productDescription"
                />
              </div>
            </div>

            <div class="row mb-3">
              <label for="priceProduct" class="col-sm-3 col-form-label"
                >Precio</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="priceProduct"
                  formControlName="priceProduct"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="expirationProduct" class="col-sm-3 col-form-label"
                >Fecha Expiración</label
              >
              <div class="col-sm-9">
                <input
                  type="date"
                  class="form-control"
                  id="expirationProduct"
                  formControlName="expirationProduct"
                />
              </div>
            </div>

          </form>
          <!--<div>formulario Valid:{{frmProduct.valid}}</div>
          <div>formulario No Valid:{{frmProduct.invalid}}</div>-->
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            form="frmProduct"
            [disabled]="frmProduct.invalid"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
