<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-1">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <div class="col-md-2 col-lg-4 col-xl-3 mx-auto mb-2">
          <!-- Content -->
          <div>
            <img src="../../../assets/img/Icon.png" alt="Descripción de la imagen" style="width: 150px; height: 150px;">
          </div>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contáctanos</h6>
          <p>
            <i class="fas fa-envelope "></i>
            SistemaInventarios2023@gmail.com
          </p>
          <p><i class="fas fa-phone"></i> +506 12345678</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Ubicación</h6>
          <p><i class="fas fa-home"></i>Limón, Costa Rica</p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
